@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn-svelte/tailwind.css';
@import '@fontsource-variable/inter';

@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-primary;
	}
	html {
		@apply font-neoris-variable;
	}
}

:root {
	--primary: #111113;
	--secondary: #ffffff;

	--foreground: #111113;
	--background: #ffffff;

	--card-background: #f2f2f2;
	--action-primary: #061d99;
	--action-secondary: #0824bf;
}

/* variables for dark theme */
.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(1 0 0);
}

@theme inline {
	--font-ivy-headline-light: IvyPresto Healdine Light, sans-serif;
	--font-neoris-light: Neoris Light, sans-serif;
	--font-neoris-variable: Neoris Variable, sans-serif;

	--color-foreground: var(--foreground);
	--color-background: var(--background);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);

	--color-action-primary: var(--action-primary);
	--color-action-secondary: var(--action-secondary);

	--color-border: var(--border);
	--color-card-background: var(--card-background);

	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}
