@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn-svelte/tailwind.css';
@import '@fontsource-variable/inter';

@import './semantic-tokens.css';
@import './utilities.css';
@import './fonts.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant hactive (&:hover, &:active);

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-primary;
	}
	html {
		@apply font-neoris-variable;

		scroll-behavior: smooth;
	}
}

@theme inline {
	--font-ivy-headline-light: IvyPresto Healdine Light, sans-serif;
	--font-neoris-light: Neoris Light, sans-serif;
	--font-neoris-medium: Neoris Medium, sans-serif;
	--font-neoris-variable: Neoris Variable, sans-serif;

	--color-foreground: var(--foreground);
	--color-background: var(--background);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);

	--color-action-primary: var(--action-primary);
	--color-action-primary-hover: var(--action-primary-hover);
	--color-action-secondary: var(--action-secondary);

	--color-border: var(--border);
	--color-card-background: var(--card-background);
}
