:root,
[data-theme='light'] {
	--primary: #111113;
	--secondary: #ffffff;

	--foreground: #111113;
	--background: #ffffff;

	--card-background: #f2f2f2;

	--action-primary: #061d99;
	--action-primary-hover: #051a87;
}

/* variables for dark theme */
[data-theme='dark'] {
	--primary: #ffffff;
	--secondary: #111113;

	--foreground: #ffffff;
	--background: #111113;

	--card-background: #5d5c5c;
}
